<!doctype html>
<html lang="en" ng-app="kfkApp">
<head>
  <meta charset="utf-8">
  <title>Kellogg Faculty Facebook</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="FacultyListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <input ng-model="query">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <ul class="faculty">
          <li ng-repeat="professor in faculty | filter:query">
          <a href="{{professor.url}}"><img ng-src="{{professor.headshot_image_url}}"></a>
            <p><a href="{{professor.url}}">{{professor.name}}</a></p>
            <span class="info"><p>
              {{professor.netid}}<br>
              {{professor.title}}<br>
              {{professor.department}}<br>
              {{professor.office}}<br>
              {{professor.phone}}
            </p></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
