<!doctype html>
<html lang="en" ng-app="kfkApp">
<head>
  <meta charset="utf-8">
  <title>Kellogg Faculty Facebook</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="FacultyListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <input ng-model="query">
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <ul class="faculty">
          <li ng-repeat="person in faculty | filter:query" class="full_details">
          <a href="{{person.url}}" target="_none"><img ng-src="{{person.headshot_image_url}}" src="img/placeholder.png" width="166" height="202"></a>
            <p><a href="{{person.url}}">{{person.name}}</a></p>
            <span class="info"><p>
              NetID: {{person.netid}}<br>
              {{person.title}}<br>
              {{person.department}}<br>
              {{person.office}}<br>
              Phone: {{person.phone}}<br>
              <a href="{{person.personal_site}}">personal site</a>
            </p></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <a href="https://bitbucket.org/nickatkellogg/kellogg_faculty_directory/">Source Code</a>
      </div>
    </div>
  </div>
</body>
</html>
